:root {
  --primarycolor: rgb(211, 50, 171);
  --secondarycolor: rgb(67, 67, 172);
  --primaryfontsize: 1.2em;
  /* --gridcolors: #1e1e1e; */
  --gridcolors: rgb(77, 77, 95, 0.2);
  --boxShadowColor: rgba(0, 0, 0, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-size: var(--primaryfontsize);
  background-image: url("assets/Sprinkle.svg");
  background-color: black;
}

.logo {
  font-size: 1.8em;
}
#sambo {
  cursor: pointer;
  font-size: 2.1em;
}

nav {
  background-color: black;
  font-size: 0.5em;
}
.nav-item .nav-link {
  color: #e32e46;
}
.nav-item .nav-link:hover {
  color: chocolate;
  text-decoration: underline;
}
a {
  color: white;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
}
ul {
  gap: 12px;
}
a:hover {
  color: var(--primarycolor);
}

a:any-link {
  color: white;
}

/* this is the styling of the main section */

.circle {
  width: 15em;
  height: 15em;
  border: 1px solid var(--primarycolor);
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 5px var(--primarycolor), 0 0 20px 5px var(--primarycolor);
  background-image: url("  assets/1651688434720-removebg-preview.png ");
}

.grid-container {
  background-color: var(--gridcolors);
  border-radius: 04px;
  box-shadow: 3px 2px 3px 3px var(--boxShadowColor);
}
.grid-container img {
  width: 30px;
}
.section-four {
  font-size: smaller;
}
.service-grid {
  height: 200px;
  background-color: var(--gridcolors);
  border-radius: 04px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 2px 3px 3px var(--boxShadowColor);
}
/*  this is the start of section six*/
progress {
  width: 300px;
  height: 10px;
  accent-color: var(--secondarycolor);
  position: relative;
  bottom: 30px;
}
.container-seven img {
  width: 60%;
}

progress:hover {
  accent-color: green;
}

.carousel-container img {
  width: 100vh;
  height: 600px;
}
input {
  width: 300px;
}

footer img:hover {
  transform: rotate(180deg);
}
#time {
  font-style: italic;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  nav {
    background-color: black;
  }
  nav a {
    color: white;
    font-size: 12px;
    text-align: left;
    width: 60px;
    float: right;
    margin-right: 10px;
    gap: 1;

    padding: 5px;
    border-radius: 5px;
  }
  ul {
    gap: 0;
    float: right;
    position: relative;
    left: 5px;
    animation: example2 0.5s ease-in-out;
  }
  li {
    border-bottom: 1px solid black;
  }

  .dropdown-pic {
    background-image: url("assets/1651688434720-removebg-preview.png");
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .circle {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .carousel-container img {
    height: 200px;
  }
  .section-two {
    left: 0;
  }
  .grid-container {
    font-size: 12px;
  }
  .service-grid {
    font-size: 12;
  }
  progress {
    width: 300px;
  }
  input {
    width: 80vw;
  }
  footer a {
    font-size: x-small;
    padding: 0;
    border-bottom: none;
  }
  footer img {
    width: 10px;
  }
  footer img:hover {
    background-color: var(--primarycolor);
  }
  #time {
    font-size: 10px;
  }
}

@keyframes example2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
