:root {
  --primarycolor: rgb(211, 50, 171);
  --secondarycolor: rgb(67, 67, 172);
  --primaryfontsize: 18px;
  /* --gridcolors: #1e1e1e; */
  --gridcolors: rgb(77, 77, 95, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-size: 25px;
  background-image: url("assets/sprinkle.svg");
  background-color: black;
}
a {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
ul {
  gap: 12px;
}
a:hover {
  color: var(--primarycolor);
  border-bottom: 3px solid var(--primarycolor);
}

a:any-link {
  color: white;
}

/* this is the styling of the main section */
.section-two {
}

.circle {
  width: 300px;
  height: 300px;
  border: 1px solid var(--primarycolor);
  border-radius: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 5px var(--primarycolor),
    0 0 20px 5px var(--secondarycolor);
  background-image: url("  assets/1651688434720-removebg-preview.png ");
}

.grid-container {
  background-color: var(--gridcolors);
  border-radius: 04px;
  margin: 5px;
  padding: 15px 10px;
  font-size: 12px;
  width: fit-content;
}

.service-grid {
  width: 400px;
  height: 200px;
  background-color: var(--gridcolors);
  border-radius: 04px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*  this is the start of section six*/
progress {
  width: 400px;
  height: 10px;
  accent-color: var(--secondarycolor);
  position: relative;
  bottom: 30px;
}
.container-seven img {
  width: 60%;
}

progress:hover {
  accent-color: green;
}

.ludo-img {
  width: 400px;
  height: 300px;
}
input {
  width: 500px;
  border-top: black;
  border-bottom: 1px solid blue;
  border-right: black;
  border-left: black;
  background-color: black;
  color: white;
}
textarea {
  border-top: black;
  border-bottom: 1px solid blue;
  border-right: black;
  border-left: black;
  background-color: black;
}
input:focus,
textarea:focus {
  border: red 1px solid;
  outline: none;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  a {
    color: white;
    font-size: 12px;
    text-align: left;
    width: 60px;
    float: right;
    margin-right: 10px;
    gap: 1;

    padding: 5px;
    border-radius: 5px;
  }
  ul {
    gap: 0;

    float: right;
    position: relative;
    left: 5px;
    animation: example2 1s ease-out;
  }
  li {
    border-bottom: 1px solid black;
  }
  .circle {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .section-two {
    left: 0;
  }
  .grid-container {
    font-size: 12px;
  }
  .service-grid {
    font-size: 12;
  }
  progress {
    width: 300px;
  }
  input {
    width: 80vw;
  }
  footer {
    font-size: x-small;
  }
  footer img {
    width: 15px;
  }
}

@keyframes example2 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0%);
  }
}
